body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
		sans-serif;
	height: 100%;
	width: 100vw;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #333;
    overflow-y: auto;
}
.fas {
	font-size: 20px;
	margin-inline: 8px;
}
img {
	height: 20px;
	margin-right: 10px;
}
.containerx {
	display: flex;
	height: 100vh;
	width: 100%;
}
.sidebar {
	width: 15%;
	flex-shrink: 0;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	height: 100%;
	background-color: #f5f5f5;
	overflow-y: hidden;
	position: fixed;
	padding-top: 80px;
}
.sidebar h3 {
	font-size: 14px;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #a4a6a9;
}
.sidebar a {
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 13px 20px;
	color: #a4a6a9;
}
.sidebar a.active,
.sidebar a:hover {
	color: #fff;
	border-right: 4px solid #ccc;
	background-color: #f4bc87;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	padding: 20px;
	background-color: #fff;
}
.header .logo img,
.header .search-box img {
	height: 40px;
}
.header .search-box {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 300px;
	padding: 8px;
	background-color: #fff;
	transition: border-color 0.3s;
}
.filters .search-box-filter input,
.header .search-box input {
	border: none;
	outline: 0;
	flex-grow: 1;
	font-size: 14px;
	color: #333;
}
.header .user-profile img {
	height: 40px;
	border-radius: 50%;
}
.user-profile {
	display: flex;
	align-items: center;
	gap: 10px;
}
.buttons {
	display: flex;
	gap: 10px;
}
.buttons button,
.filters button.filter-button {
	border-radius: 5px;
	color: #666;
	cursor: pointer;
	transition: background-color 0.3s;
	display: flex;
	align-items: center;
	font-weight: 600;
	border: none;
	font-size: 14px;
	padding: 10px 20px;
	background-color: #fff;
}
.buttons button:hover,
.filters button.filter-button:hover {
	color: #fff;
	background-color: #666;
}
.buttons button img,
.filters button.filter-button img {
	filter: invert(47%) sepia(79%) saturate(472%) hue-rotate(333deg) brightness(101%) contrast(101%);
}
.table-container {
	border: 1px solid #ddd;
	border-radius: 10px;
	margin: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	overflow-x: auto;
	display: block;
	max-height: 70vh;
	overflow-y: scroll;
	padding: 20px;
	background-color: #fff;
}
table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
.table-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	position: sticky;
	top: -20px;
	z-index: 2;
	background-color: #fff;
}
td,
th {
	text-align: center;
	padding: 10px;
}
th {
	border-bottom: 1px solid #ddd;
	color: #666;
	position: sticky;
	top: 20px;
	z-index: 1;
	background-color: #f5f5f5;
}
th.No:nth-child(1) {
	width: 5%;
	min-width: 5%;
	max-width: 5%;
}
th:nth-child(6) {
	width: 28%;
}
td {
	border-bottom: 1px solid #f5f5f5;
	color: #333;
}
.filters .search-box-filter {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 300px;
	margin-right: 20px;
	padding: 8px;
	background-color: #fff;
	transition: border-color 0.3s;
}
.action-buttons button {
	margin-right: 5px;
	font-size: 14px;
	border: none;
	border-radius: 10px;
	height: 30px;
	width: auto;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}
.action-buttons .fas {
	font-size: 14px;
}
.action-buttons button.view {
	color: #fff;
	background-color: #28a745;
}
.action-buttons button.edit {
	color: #fff;
	background-color: #ffc107;
}
.action-buttons button.delete {
	color: #fff;
	float: right;
	background-color: #dc3545;
}
body.dark-mode {
	background-color: #121212;
	color: #fff;
}
.dark-mode .header,
.dark-mode .main-content,
.dark-mode .table-container,
.dark-mode .table-header {
	background-color: #333;
	color: #fff;
}
.dark-mode .sidebar a.active,
.dark-mode .sidebar a:hover {
	background-color: #f4bc87;
	color: #fff;
}
.dark-mode .search-box-filter input,
.dark-mode select.category-select {
	background-color: #444;
	color: #fff;
}
.dark-mode .buttons button:hover,
.dark-mode .filters button.filter-button:hover {
	background-color: #555;
}
.dark-mode .cancel i,
.dark-mode .save i {
	color: #444;
}
.dark-mode .search-box-filter,
.dark-mode .sidebar {
	background-color: #444;
}
.dark-mode .buttons button,
.dark-mode .filters button.filter-button,
.dark-mode td,
.dark-mode th {
	background-color: #444;
	color: #fff;
}
.dark-mode .sidebar a,
.dark-mode .sidebar h3,
.dark-mode .table-title h3,
.dark-mode a {
	color: #fff;
}
.dark-mode .transaction-items td,
.dark-mode th {
	background-color: #555;
	align-content: center;
}
.filter-options {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-inline: 10px;
}
.category-select {
	border-radius: 5px;
	border: 1px solid #ced4da;
	padding: 5px 10px;
	transition: border-color 0.3s;
}
.refresh-container {
	align-items: center;
	justify-content: flex-start;
}
.button-fetch {
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	padding: 5px 15px;
	background-color: #e9c916;
	transition: background-color 0.3s;
}
.button-fetch:hover {
	background-color: #bba212;
}
.spinner {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	border-top-color: #fff;
	animation: spin 1s ease-in-out infinite;
	margin-left: 10px;
	vertical-align: middle;
}
.expanded-row-content {
	padding: 10px;
	background-color: #fff;
}
.transaction-items {
	margin-top: 10px;
	background-color: #f0f0f0;
}
.expanded-row-content td {
	border-bottom: 1px solid #ccc;
}
.transaction-items .th {
	text-align: center;
	padding: 8px;
}
.filters,
.header .logo,
.header .search-box,
.header .user-profile {
	display: flex;
	align-items: center;
}
.logo-text,
.table-title h3 {
	margin: 0;
}
.buttons button.addNew,
.dark-mode .buttons button.addNew {
	color: #fff;
	background-color: #f4bc87;
	transition: background-color 0.3s;
}
.buttons button.addNew:hover,
.dark-mode .buttons button.addNew:hover {
	background-color: #f09b4f;
}
@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.quantity-controls,
.quantity-decrement,
.quantity-increment,
.quantity-input {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.quantity-decrement,
.quantity-increment {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
	padding: 2px;
	transition: background-color 0.2s ease-in-out;
}
.quantity-decrement:hover,
.quantity-increment:hover {
	background-color: #e0e0e0;
}
.quantity-input {
	width: 80px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: center;
	transition: border-color 0.2s ease-in-out;
}
.quantity-input:focus {
	border-color: #007bff;
	outline: 0;
}
input[type="number"] {
	width: 80px;
	text-align: center;
}
table input[type="text"],
table select {
	width: 60%;
	padding: 5px;
	margin: 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center;
	transition: border-color 0.3s;
}
.dashboard-content {
	display: flex;
	flex-wrap: wrap;
}
.kpi-container {
	display: flex;
	justify-content: space-around;
	margin-inline: 10px;
	width: 100%;
}
.kpi {
	background-color: #f0f0f0;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	flex: 1;
	width: calc(50% - 10px);
	text-align: center;
	margin-bottom: 10px;
}
.chart-container {
	display: flex;
	justify-content: space-around;
	margin-inline: 10px;
	width: 100%;
	flex-wrap: wrap;
}
.chart {
	background-color: #f0f0f0;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	flex: 1;
	width: calc(33.33% - 20px);
	margin-bottom: 10px;
}
.chart h3 {
	margin-bottom: 10px;
}
.recharts-tooltip-label {
	font-weight: 700;
}
.recharts-pie-label-line {
	stroke: #8884d8;
}
.recharts-pie-label-text {
	font-size: 14px;
}
.dark-mode .chart,
.dark-mode .chart-container,
.dark-mode .dashboard-content,
.dark-mode .kpi,
.dark-mode .kpi-container {
	background-color: #333;
	color: #fff;
}
.dark-mode .chart,
.dark-mode .kpi {
	background-color: #444;
	color: #fff;
}

.dark-mode .recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis tspan {
	fill: #fff; /* Adjusts text color for Y axis labels */
}

.dark-mode .recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis tspan {
	fill: #fff; /* Adjusts text color for X axis labels */
}
.dark-mode .chart h3,
.dark-mode .kpi p,
.dark-mode .recharts-pie-label-text {
	color: #fff;
}
.dark-mode .recharts-tooltip-label {
	color: #666;
}
@media (max-width: 1200px) {
	.chart {
		width: calc(33.33% - 20px);
	}
}
@media (max-width: 768px) {
	.chart-container,
	.kpi-container {
		flex-direction: column;
	}
	.chart,
	.kpi {
		width: 100%;
		margin-bottom: 20px;
	}
}
.product-selection-container,
.barcode-search-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}
.product-select {
	flex-grow: 1;
	margin-right: 5px;
}
.barcode-button,
.expand-button,
.search-button {
	margin-left: 5px;
	background: 0 0;
	border: none;
	cursor: pointer;
	color: #444;
}
.barcode-search-input {
	flex-grow: 1;
	margin-right: 5px;
}
.dashboard-content .filter-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-inline: 10px;
	width: 100%;
}
.dashboard-content .filter-container input {
	margin: 10px;
}
.dashboard-content .filter-container .react-datepicker__input-container input {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 250px;
}
.dashboard-content .filter-container .react-datepicker__day--selected {
	background-color: #f4bc87;
	color: white;
}
.main-content {
	padding-left: 15%; /* Match the width of the sidebar */
	padding-top: 80px;
}
.main-header{
	position: fixed;
	width: 100%;
	z-index: 1000;
}
.dark-mode body {
	background-color: #333;
}
.dark-mode  .expand-button i,
.dark-mode .barcode-button i,
.dark-mode .search-button i {
	color: #fff;
}